#####################################################
#
# List of approvers for OpenTelemetry Collector Contrib
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
#
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#
# NOTE: Lines should be entered in the following format:
# <component_path_relative_from_project_root>/<min_1_space><owner_1><space><owner_2><space>..<owner_n>
# extension/oauth2clientauthextension/                 @open-telemetry/collector-contrib-approvers @pavankrish123 @jpkrohling
# Path separator and minimum of 1 space between component path and owners is
# important for validation steps
#

* @open-telemetry/collector-contrib-approvers

cmd/configschema/                                        @open-telemetry/collector-contrib-approvers @mx-psi @dmitryax @pmcollins
cmd/mdatagen/                                            @open-telemetry/collector-contrib-approvers @dmitryax
cmd/opampsupervisor/                                     @open-telemetry/collector-contrib-approvers @evan-bradley @atoulme @tigrannajaryan
cmd/otelcontribcol/                                      @open-telemetry/collector-contrib-approvers
cmd/oteltestbedcol/                                      @open-telemetry/collector-contrib-approvers
cmd/telemetrygen/                                        @open-telemetry/collector-contrib-approvers @mx-psi @codeboten

confmap/provider/s3provider/                             @open-telemetry/collector-contrib-approvers @Aneurysm9

connector/countconnector/                                @open-telemetry/collector-contrib-approvers @djaglowski @jpkrohling
connector/exceptionsconnector/                           @open-telemetry/collector-contrib-approvers @jpkrohling
connector/routingconnector/                              @open-telemetry/collector-contrib-approvers @jpkrohling @kovrus @mwear
connector/servicegraphconnector/                         @open-telemetry/collector-contrib-approvers @jpkrohling @mapno
connector/spanmetricsconnector/                          @open-telemetry/collector-contrib-approvers @albertteoh @kovrus

examples/demo/                                           @open-telemetry/collector-contrib-approvers @open-telemetry/collector-approvers

exporter/alibabacloudlogserviceexporter/                 @open-telemetry/collector-contrib-approvers @shabicheng @kongluoxing @qiansheng91
exporter/awscloudwatchlogsexporter/                      @open-telemetry/collector-contrib-approvers @boostchicken
exporter/awsemfexporter/                                 @open-telemetry/collector-contrib-approvers @Aneurysm9 @shaochengwang @mxiamxia
exporter/awskinesisexporter/                             @open-telemetry/collector-contrib-approvers @Aneurysm9 @MovieStoreGuy
exporter/awss3exporter/                                  @open-telemetry/collector-contrib-approvers @atoulme @pdelewski
exporter/awsxrayexporter/                                @open-telemetry/collector-contrib-approvers @wangzlei @srprash
exporter/azuredataexplorerexporter/                      @open-telemetry/collector-contrib-approvers @asaharan @ag-ramachandran
exporter/azuremonitorexporter/                           @open-telemetry/collector-contrib-approvers @pcwiese
exporter/carbonexporter/                                 @open-telemetry/collector-contrib-approvers @aboguszewski-sumo
exporter/cassandraexporter/                              @open-telemetry/collector-contrib-approvers @atoulme @emreyalvac
exporter/clickhouseexporter/                             @open-telemetry/collector-contrib-approvers @hanjm @dmitryax @Frapschen
exporter/coralogixexporter/                              @open-telemetry/collector-contrib-approvers @oded-dd @povilasv @matej-g
exporter/datadogexporter/                                @open-telemetry/collector-contrib-approvers @mx-psi @gbbr @dineshg13 @liustanley @songy23
exporter/datasetexporter/                                @open-telemetry/collector-contrib-approvers @atoulme @martin-majlis-s1 @zdaratom @tomaz-s1
exporter/dynatraceexporter/                              @open-telemetry/collector-contrib-approvers @dyladan @arminru @evan-bradley
exporter/elasticsearchexporter/                          @open-telemetry/collector-contrib-approvers @JaredTan95
exporter/f5cloudexporter/                                @open-telemetry/collector-contrib-approvers @gramidt
exporter/fileexporter/                                   @open-telemetry/collector-contrib-approvers @atingchen
exporter/googlecloudexporter/                            @open-telemetry/collector-contrib-approvers @aabmass @dashpole @jsuereth @punya @damemi @psx95
exporter/googlecloudpubsubexporter/                      @open-telemetry/collector-contrib-approvers @alexvanboxel
exporter/googlemanagedprometheusexporter/                @open-telemetry/collector-contrib-approvers @aabmass @dashpole @jsuereth @punya @damemi @psx95
exporter/influxdbexporter/                               @open-telemetry/collector-contrib-approvers @jacobmarble
exporter/instanaexporter/                                @open-telemetry/collector-contrib-approvers @jpkrohling @hickeyma
exporter/jaegerexporter/                                 @open-telemetry/collector-contrib-approvers @jpkrohling @frzifus
exporter/jaegerthrifthttpexporter/                       @open-telemetry/collector-contrib-approvers @jpkrohling @pavolloffay @frzifus
exporter/kafkaexporter/                                  @open-telemetry/collector-contrib-approvers @pavolloffay @MovieStoreGuy
exporter/loadbalancingexporter/                          @open-telemetry/collector-contrib-approvers @jpkrohling
exporter/logicmonitorexporter/                           @open-telemetry/collector-contrib-approvers @bogdandrutu @khyatigandhi6 @avadhut123pisal
exporter/logzioexporter/                                 @open-telemetry/collector-contrib-approvers @Doron-Bargo @yotamloe
exporter/lokiexporter/                                   @open-telemetry/collector-contrib-approvers @gramidt @gouthamve @jpkrohling @kovrus @mar4uk
exporter/mezmoexporter/                                  @open-telemetry/collector-contrib-approvers @dashpole @billmeyer @gjanco
exporter/opencensusexporter/                             @open-telemetry/collector-contrib-approvers @open-telemetry/collector-approvers
exporter/parquetexporter/                                @open-telemetry/collector-contrib-approvers @atoulme
exporter/prometheusexporter/                             @open-telemetry/collector-contrib-approvers @Aneurysm9
exporter/prometheusremotewriteexporter/                  @open-telemetry/collector-contrib-approvers @Aneurysm9 @rapphil
exporter/pulsarexporter/                                 @open-telemetry/collector-contrib-approvers @dmitryax @dao-jun
exporter/sapmexporter/                                   @open-telemetry/collector-contrib-approvers @dmitryax @atoulme
exporter/sentryexporter/                                 @open-telemetry/collector-contrib-approvers @AbhiPrasad
exporter/signalfxexporter/                               @open-telemetry/collector-contrib-approvers @dmitryax @crobert-1
exporter/skywalkingexporter/                             @open-telemetry/collector-contrib-approvers @liqiangz
exporter/splunkhecexporter/                              @open-telemetry/collector-contrib-approvers @atoulme @dmitryax
exporter/sumologicexporter/                              @open-telemetry/collector-contrib-approvers @sumo-drosiek
exporter/syslogexporter/                                 @open-telemetry/collector-contrib-approvers @kkujawa-sumo @rnishtala-sumo @astencel-sumo
exporter/tanzuobservabilityexporter/                     @open-telemetry/collector-contrib-approvers @oppegard @thepeterstone @keep94
exporter/tencentcloudlogserviceexporter/                 @open-telemetry/collector-contrib-approvers @wgliang @yiyang5055
exporter/zipkinexporter/                                 @open-telemetry/collector-contrib-approvers @MovieStoreGuy @astencel-sumo @crobert-1

extension/asapauthextension/                             @open-telemetry/collector-contrib-approvers @jamesmoessis @MovieStoreGuy
extension/awsproxy/                                      @open-telemetry/collector-contrib-approvers @Aneurysm9 @mxiamxia
extension/basicauthextension/                            @open-telemetry/collector-contrib-approvers @jpkrohling @svrakitin
extension/bearertokenauthextension/                      @open-telemetry/collector-contrib-approvers @jpkrohling @pavankrish123 @frzifus
extension/encodingextension/                             @open-telemetry/collector-contrib-approvers @MovieStoreGuy
extension/headerssetterextension/                        @open-telemetry/collector-contrib-approvers @jpkrohling @kovrus
extension/healthcheckextension/                          @open-telemetry/collector-contrib-approvers @jpkrohling
extension/httpforwarder/                                 @open-telemetry/collector-contrib-approvers @atoulme @rmfitzpatrick
extension/jaegerremotesampling/                          @open-telemetry/collector-contrib-approvers @jpkrohling @frzifus
extension/oauth2clientauthextension/                     @open-telemetry/collector-contrib-approvers @pavankrish123 @jpkrohling
extension/observer/                                      @open-telemetry/collector-contrib-approvers @dmitryax @rmfitzpatrick
extension/observer/dockerobserver/                       @open-telemetry/collector-contrib-approvers @MovieStoreGuy
extension/observer/ecsobserver/                          @open-telemetry/collector-contrib-approvers @dmitryax @rmfitzpatrick
extension/observer/ecstaskobserver/                      @open-telemetry/collector-contrib-approvers @rmfitzpatrick
extension/observer/hostobserver/                         @open-telemetry/collector-contrib-approvers @MovieStoreGuy
extension/observer/k8sobserver/                          @open-telemetry/collector-contrib-approvers @rmfitzpatrick @dmitryax
extension/oidcauthextension/                             @open-telemetry/collector-contrib-approvers @jpkrohling
extension/pprofextension/                                @open-telemetry/collector-contrib-approvers @MovieStoreGuy
extension/sigv4authextension/                            @open-telemetry/collector-contrib-approvers @Aneurysm9 @erichsueh3
extension/storage/                                       @open-telemetry/collector-contrib-approvers @dmitryax @atoulme @djaglowski
extension/storage/dbstorage/                             @open-telemetry/collector-contrib-approvers @dmitryax @atoulme
extension/storage/filestorage/                           @open-telemetry/collector-contrib-approvers @djaglowski

internal/aws/                                            @open-telemetry/collector-contrib-approvers @Aneurysm9 @mxiamxia
internal/coreinternal/                                   @open-telemetry/collector-contrib-approvers @open-telemetry/collector-approvers
internal/docker/                                         @open-telemetry/collector-contrib-approvers @rmfitzpatrick @jamesmoessis
internal/filter/                                         @open-telemetry/collector-contrib-approvers @open-telemetry/collector-approvers
internal/k8sconfig/                                      @open-telemetry/collector-contrib-approvers @dmitryax
internal/k8stest/                                        @open-telemetry/collector-contrib-approvers @crobert-1
internal/kubelet/                                        @open-telemetry/collector-contrib-approvers @dmitryax
internal/metadataproviders/                              @open-telemetry/collector-contrib-approvers @Aneurysm9 @dashpole
internal/sharedcomponent/                                @open-telemetry/collector-contrib-approvers @open-telemetry/collector-approvers
internal/splunk/                                         @open-telemetry/collector-contrib-approvers @dmitryax
internal/tools/                                          @open-telemetry/collector-contrib-approvers

pkg/batchperresourceattr/                                @open-telemetry/collector-contrib-approvers @atoulme @dmitryax
pkg/batchpersignal/                                      @open-telemetry/collector-contrib-approvers @jpkrohling
pkg/experimentalmetricmetadata/                          @open-telemetry/collector-contrib-approvers @rmfitzpatrick
pkg/ottl/                                                @open-telemetry/collector-contrib-approvers @TylerHelmuth @kentquirk @bogdandrutu @evan-bradley
pkg/pdatatest/                                           @open-telemetry/collector-contrib-approvers @djaglowski @fatsheep9146
pkg/pdatautil/                                           @open-telemetry/collector-contrib-approvers @dmitryax
pkg/resourcetotelemetry/                                 @open-telemetry/collector-contrib-approvers @mx-psi
pkg/stanza/                                              @open-telemetry/collector-contrib-approvers @djaglowski
pkg/translator/jaeger/                                   @open-telemetry/collector-contrib-approvers @open-telemetry/collector-approvers
pkg/translator/loki/                                     @open-telemetry/collector-contrib-approvers @gouthamve @jpkrohling @kovrus @mar4uk
pkg/translator/opencensus/                               @open-telemetry/collector-contrib-approvers @open-telemetry/collector-approvers
pkg/translator/prometheus/                               @open-telemetry/collector-contrib-approvers @dashpole @bertysentry
pkg/translator/prometheusremotewrite/                    @open-telemetry/collector-contrib-approvers @Aneurysm9 @kovrus
pkg/translator/signalfx/                                 @open-telemetry/collector-contrib-approvers @dmitryax
pkg/translator/zipkin/                                   @open-telemetry/collector-contrib-approvers @MovieStoreGuy @astencel-sumo @crobert-1
pkg/winperfcounters/                                     @open-telemetry/collector-contrib-approvers @dashpole @mrod1598 @binaryfissiongames

processor/attributesprocessor/                           @open-telemetry/collector-contrib-approvers @boostchicken
processor/cumulativetodeltaprocessor/                    @open-telemetry/collector-contrib-approvers @TylerHelmuth
processor/datadogprocessor/                              @open-telemetry/collector-contrib-approvers @mx-psi @gbbr @dineshg13
processor/deltatorateprocessor/                          @open-telemetry/collector-contrib-approvers @Aneurysm9
processor/filterprocessor/                               @open-telemetry/collector-contrib-approvers @TylerHelmuth @boostchicken
processor/groupbyattrsprocessor/                         @open-telemetry/collector-contrib-approvers @rnishtala-sumo
processor/groupbytraceprocessor/                         @open-telemetry/collector-contrib-approvers @jpkrohling
processor/k8sattributesprocessor/                        @open-telemetry/collector-contrib-approvers @dmitryax @rmfitzpatrick @fatsheep9146
processor/logstransformprocessor/                        @open-telemetry/collector-contrib-approvers @djaglowski @dehaansa
processor/metricsgenerationprocessor/                    @open-telemetry/collector-contrib-approvers @Aneurysm9
processor/metricstransformprocessor/                     @open-telemetry/collector-contrib-approvers @dmitryax
processor/probabilisticsamplerprocessor/                 @open-telemetry/collector-contrib-approvers @jpkrohling
processor/redactionprocessor/                            @open-telemetry/collector-contrib-approvers @leonsp-ai @dmitryax @mx-psi
processor/remoteobserverprocessor/                       @open-telemetry/collector-contrib-approvers @pmcollins
processor/resourcedetectionprocessor/                    @open-telemetry/collector-contrib-approvers @Aneurysm9 @dashpole
processor/resourcedetectionprocessor/internal/azure/     @open-telemetry/collector-contrib-approvers @mx-psi
processor/resourcedetectionprocessor/internal/heroku/    @open-telemetry/collector-contrib-approvers @atoulme
processor/resourcedetectionprocessor/internal/openshift/ @open-telemetry/collector-contrib-approvers @frzifus
processor/resourceprocessor/                             @open-telemetry/collector-contrib-approvers @dmitryax
processor/routingprocessor/                              @open-telemetry/collector-contrib-approvers @jpkrohling @kovrus
processor/schemaprocessor/                               @open-telemetry/collector-contrib-approvers @MovieStoreGuy
processor/servicegraphprocessor/                         @open-telemetry/collector-contrib-approvers @jpkrohling @mapno
processor/spanmetricsprocessor/                          @open-telemetry/collector-contrib-approvers @albertteoh
processor/spanprocessor/                                 @open-telemetry/collector-contrib-approvers @boostchicken
processor/tailsamplingprocessor/                         @open-telemetry/collector-contrib-approvers @jpkrohling
processor/transformprocessor/                            @open-telemetry/collector-contrib-approvers @TylerHelmuth @kentquirk @bogdandrutu @evan-bradley

receiver/activedirectorydsreceiver/                      @open-telemetry/collector-contrib-approvers @djaglowski @binaryfissiongames
receiver/aerospikereceiver/                              @open-telemetry/collector-contrib-approvers @djaglowski @antonblock
receiver/apachereceiver/                                 @open-telemetry/collector-contrib-approvers @djaglowski
receiver/apachesparkreceiver/                            @open-telemetry/collector-contrib-approvers @djaglowski @Caleb-Hurshman @mrsillydog
receiver/awscloudwatchmetricsreceiver/                   @open-telemetry/collector-contrib-approvers @jpkrohling @kovrus
receiver/awscloudwatchreceiver/                          @open-telemetry/collector-contrib-approvers @djaglowski @schmikei
receiver/awscontainerinsightreceiver/                    @open-telemetry/collector-contrib-approvers @Aneurysm9 @pxaws
receiver/awsecscontainermetricsreceiver/                 @open-telemetry/collector-contrib-approvers @Aneurysm9
receiver/awsfirehosereceiver/                            @open-telemetry/collector-contrib-approvers @Aneurysm9
receiver/awsxrayreceiver/                                @open-telemetry/collector-contrib-approvers @wangzlei @srprash
receiver/azureblobreceiver/                              @open-telemetry/collector-contrib-approvers @eedorenko @mx-psi
receiver/azureeventhubreceiver/                          @open-telemetry/collector-contrib-approvers @atoulme @djaglowski
receiver/azuremonitorreceiver/                           @open-telemetry/collector-contrib-approvers @altuner @codeboten
receiver/bigipreceiver/                                  @open-telemetry/collector-contrib-approvers @djaglowski @StefanKurek
receiver/carbonreceiver/                                 @open-telemetry/collector-contrib-approvers @aboguszewski-sumo
receiver/chronyreceiver/                                 @open-telemetry/collector-contrib-approvers @MovieStoreGuy @jamesmoessis
receiver/cloudflarereceiver/                             @open-telemetry/collector-contrib-approvers @dehaansa @djaglowski
receiver/cloudfoundryreceiver/                           @open-telemetry/collector-contrib-approvers @agoallikmaa @pellared @crobert-1
receiver/collectdreceiver/                               @open-telemetry/collector-contrib-approvers @atoulme
receiver/couchdbreceiver/                                @open-telemetry/collector-contrib-approvers @djaglowski
receiver/datadogreceiver/                                @open-telemetry/collector-contrib-approvers @boostchicken @gouthamve @jpkrohling @MovieStoreGuy
receiver/dockerstatsreceiver/                            @open-telemetry/collector-contrib-approvers @rmfitzpatrick @jamesmoessis
receiver/elasticsearchreceiver/                          @open-telemetry/collector-contrib-approvers @djaglowski @binaryfissiongames
receiver/expvarreceiver/                                 @open-telemetry/collector-contrib-approvers @jamesmoessis @MovieStoreGuy
receiver/filelogreceiver/                                @open-telemetry/collector-contrib-approvers @djaglowski
receiver/filereceiver/                                   @open-telemetry/collector-contrib-approvers @pmcollins @djaglowski
receiver/filestatsreceiver/                              @open-telemetry/collector-contrib-approvers @atoulme
receiver/flinkmetricsreceiver/                           @open-telemetry/collector-contrib-approvers @jonathanwamsley @djaglowski
receiver/fluentforwardreceiver/                          @open-telemetry/collector-contrib-approvers @dmitryax
receiver/googlecloudpubsubreceiver/                      @open-telemetry/collector-contrib-approvers @alexvanboxel
receiver/googlecloudspannerreceiver/                     @open-telemetry/collector-contrib-approvers @architjugran @varunraiko @kiranmayib
receiver/haproxyreceiver/                                @open-telemetry/collector-contrib-approvers @atoulme @MovieStoreGuy
receiver/hostmetricsreceiver/                            @open-telemetry/collector-contrib-approvers @dmitryax
receiver/httpcheckreceiver/                              @open-telemetry/collector-contrib-approvers @codeboten
receiver/iisreceiver/                                    @open-telemetry/collector-contrib-approvers @mrod1598 @djaglowski
receiver/influxdbreceiver/                               @open-telemetry/collector-contrib-approvers @jacobmarble
receiver/jaegerreceiver/                                 @open-telemetry/collector-contrib-approvers @jpkrohling
receiver/jmxreceiver/                                    @open-telemetry/collector-contrib-approvers @rmfitzpatrick
receiver/journaldreceiver/                               @open-telemetry/collector-contrib-approvers @sumo-drosiek @djaglowski
receiver/k8sclusterreceiver/                             @open-telemetry/collector-contrib-approvers @dmitryax
receiver/k8seventsreceiver/                              @open-telemetry/collector-contrib-approvers @dmitryax
receiver/k8sobjectsreceiver/                             @open-telemetry/collector-contrib-approvers @dmitryax @hvaghani221
receiver/kafkametricsreceiver/                           @open-telemetry/collector-contrib-approvers @dmitryax
receiver/kafkareceiver/                                  @open-telemetry/collector-contrib-approvers @pavolloffay @MovieStoreGuy
receiver/kubeletstatsreceiver/                           @open-telemetry/collector-contrib-approvers @dmitryax
receiver/lokireceiver/                                   @open-telemetry/collector-contrib-approvers @mar4uk @kovrus @jpkrohling
receiver/memcachedreceiver/                              @open-telemetry/collector-contrib-approvers @djaglowski
receiver/mongodbatlasreceiver/                           @open-telemetry/collector-contrib-approvers @djaglowski @schmikei
receiver/mongodbreceiver/                                @open-telemetry/collector-contrib-approvers @djaglowski @schmikei
receiver/mysqlreceiver/                                  @open-telemetry/collector-contrib-approvers @djaglowski
receiver/nginxreceiver/                                  @open-telemetry/collector-contrib-approvers @djaglowski
receiver/nsxtreceiver/                                   @open-telemetry/collector-contrib-approvers @dashpole @schmikei
receiver/opencensusreceiver/                             @open-telemetry/collector-contrib-approvers @open-telemetry/collector-approvers
receiver/oracledbreceiver/                               @open-telemetry/collector-contrib-approvers @dmitryax @crobert-1 @atoulme
receiver/otlpjsonfilereceiver/                           @open-telemetry/collector-contrib-approvers @djaglowski @atoulme
receiver/podmanreceiver/                                 @open-telemetry/collector-contrib-approvers @rogercoll
receiver/postgresqlreceiver/                             @open-telemetry/collector-contrib-approvers @djaglowski
receiver/prometheusexecreceiver/                         @open-telemetry/collector-contrib-approvers @dmitryax
receiver/prometheusreceiver/                             @open-telemetry/collector-contrib-approvers @Aneurysm9 @dashpole
receiver/pulsarreceiver/                                 @open-telemetry/collector-contrib-approvers @dmitryax @dao-jun
receiver/purefareceiver/                                 @open-telemetry/collector-contrib-approvers @jpkrohling @dgoscn @chrroberts-pure
receiver/purefbreceiver/                                 @open-telemetry/collector-contrib-approvers @jpkrohling @dgoscn @chrroberts-pure
receiver/rabbitmqreceiver/                               @open-telemetry/collector-contrib-approvers @djaglowski @cpheps
receiver/receivercreator/                                @open-telemetry/collector-contrib-approvers @rmfitzpatrick
receiver/redisreceiver/                                  @open-telemetry/collector-contrib-approvers @dmitryax @hughesjj
receiver/riakreceiver/                                   @open-telemetry/collector-contrib-approvers @djaglowski @armstrmi
receiver/saphanareceiver/                                @open-telemetry/collector-contrib-approvers @dehaansa
receiver/sapmreceiver/                                   @open-telemetry/collector-contrib-approvers @atoulme
receiver/signalfxreceiver/                               @open-telemetry/collector-contrib-approvers @dmitryax
receiver/simpleprometheusreceiver/                       @open-telemetry/collector-contrib-approvers @fatsheep9146
receiver/skywalkingreceiver/                             @open-telemetry/collector-contrib-approvers @JaredTan95
receiver/snmpreceiver/                                   @open-telemetry/collector-contrib-approvers @djaglowski @StefanKurek @tamir-michaeli
receiver/snowflakereceiver/                              @open-telemetry/collector-contrib-approvers @dmitryax @shalper2
receiver/solacereceiver/                                 @open-telemetry/collector-contrib-approvers @djaglowski @mcardy
receiver/splunkenterprisereceiver/                       @open-telemetry/collector-contrib-approvers @shalper2 @MovieStoreGuy
receiver/splunkhecreceiver/                              @open-telemetry/collector-contrib-approvers @atoulme
receiver/sqlqueryreceiver/                               @open-telemetry/collector-contrib-approvers @dmitryax @pmcollins
receiver/sqlserverreceiver/                              @open-telemetry/collector-contrib-approvers @djaglowski @StefanKurek
receiver/sshcheckreceiver/                               @open-telemetry/collector-contrib-approvers @nslaughter @codeboten
receiver/statsdreceiver/                                 @open-telemetry/collector-contrib-approvers @jmacd @dmitryax
receiver/syslogreceiver/                                 @open-telemetry/collector-contrib-approvers @djaglowski
receiver/tcplogreceiver/                                 @open-telemetry/collector-contrib-approvers @djaglowski
receiver/udplogreceiver/                                 @open-telemetry/collector-contrib-approvers @djaglowski
receiver/vcenterreceiver/                                @open-telemetry/collector-contrib-approvers @djaglowski @schmikei
receiver/webhookeventreceiver/                           @open-telemetry/collector-contrib-approvers @atoulme @shalper2
receiver/windowseventlogreceiver/                        @open-telemetry/collector-contrib-approvers @djaglowski @armstrmi
receiver/windowsperfcountersreceiver/                    @open-telemetry/collector-contrib-approvers @dashpole
receiver/zipkinreceiver/                                 @open-telemetry/collector-contrib-approvers @MovieStoreGuy @astencel-sumo @crobert-1
receiver/zookeeperreceiver/                              @open-telemetry/collector-contrib-approvers @djaglowski

testbed/                                                 @open-telemetry/collector-contrib-approvers @open-telemetry/collector-approvers
testbed/mockdatareceivers/mockawsxrayreceiver/           @open-telemetry/collector-contrib-approvers @wangzlei @srprash
testbed/mockdatasenders/mockdatadogagentexporter/        @open-telemetry/collector-contrib-approvers @boostchicken


## UNMAINTAINED components
## The Github issue template generation code needs this to generate the corresponding labels.

receiver/wavefrontreceiver/                              @open-telemetry/collector-contrib-approvers 
