#####################################################
#
# List of approvers for OpenTelemetry Collector Contrib
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/collector-contrib-approvers

# Exporters Reviewers

/exporter/alibabacloudlogserviceexporter/ @shabicheng
/exporter/awsxrayexporter/ @kbrockhoff @anuraaga
/exporter/azuremonitorexporter/ @pcwiese
/exporter/carbonexporter/ @pjanotti
/exporter/elasticexporter/ @axw
/exporter/honeycombexporter/ @paulosman @lizthegrey
/exporter/jaegerthrifthttpexporter/ @jpkrohling @pavolloffay
/exporter/kinesisexporter/ @owais
/exporter/lightstepexporter/ @austinlparker @jmacd
/exporter/newrelicexporter/ @MrAlias
/exporter/sapmexporter/ @owais @dmitryax
/exporter/sentryexporter/ @AbhiPrasad
/exporter/signalfxexporter/ @pmcollins @asuresh4
/exporter/splunkhecexporter/ @atoulme
/exporter/stackdriverexporter/ @nilebox @james-bebbington
