local/
vendor/

# Dev Container
/.devcontainer/

# GoLand IDEA
/.idea/
*.iml

# VS Code
.vscode
*.code-workspace

# Cursor
.cursor

# Project IDX
.idx/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/
.tools/

# Emacs
*~
\#*\#

# Miscellaneous files
*.sw[op]
*.DS_Store
__debug_bin*

# Go coverage artifacts (module-local)
coverage/
coverage.txt
coverage.func
coverage.out
coverage.html
*-coverage.txt
*-coverage.html
internal/tools/testresults/*

# Coverage dirs created by `go test -test.gocoverdir=...`
**/coverage/**

# Wix
*.wixobj
*.wixpdb

go.work*

/result
