local/
vendor/

# Dev Container
/.devcontainer/

# GoLand IDEA
/.idea/
*.iml

# VS Code
.vscode
*.code-workspace

# Cursor
.cursor

# Project IDX
.idx/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
bin/
dist/
.tools/
cmd/telemetrygen/telemetrygen
cmd/otelcontribcol/otelcontribcol

# Emacs
*~
\#*\#

# Miscellaneous files
*.sw[op]
*.DS_Store
__debug_bin*

# Coverage
coverage/*
*-coverage.txt
integration-coverage.html
internal/tools/testresults/*

# Wix
*.wixobj
*.wixpdb

go.work*

/result
