go 1.19

use (
	./
	./cmd/configschema
	./cmd/mdatagen
	./cmd/otelcontribcol
	./cmd/oteltestbedcol
	./cmd/telemetrygen
	./confmap/provider/s3provider
	./connector/countconnector
	./connector/servicegraphconnector
	./connector/spanmetricsconnector
	./examples/demo/client
	./examples/demo/server
	./exporter/alibabacloudlogserviceexporter
	./exporter/awscloudwatchlogsexporter
	./exporter/awsemfexporter
	./exporter/awskinesisexporter
	./exporter/awss3exporter
	./exporter/awsxrayexporter
	./exporter/azuredataexplorerexporter
	./exporter/azuremonitorexporter
	./exporter/carbonexporter
	./exporter/cassandraexporter
	./exporter/clickhouseexporter
	./exporter/coralogixexporter
	./exporter/datadogexporter
	./exporter/datasetexporter
	./exporter/dynatraceexporter
	./exporter/elasticsearchexporter
	./exporter/f5cloudexporter
	./exporter/fileexporter
	./exporter/googlecloudexporter
	./exporter/googlecloudpubsubexporter
	./exporter/googlemanagedprometheusexporter
	./exporter/influxdbexporter
	./exporter/instanaexporter
	./exporter/jaegerexporter
	./exporter/jaegerthrifthttpexporter
	./exporter/kafkaexporter
	./exporter/loadbalancingexporter
	./exporter/logicmonitorexporter
	./exporter/logzioexporter
	./exporter/lokiexporter
	./exporter/mezmoexporter
	./exporter/opencensusexporter
	./exporter/parquetexporter
	./exporter/prometheusexporter
	./exporter/prometheusremotewriteexporter
	./exporter/pulsarexporter
	./exporter/sapmexporter
	./exporter/sentryexporter
	./exporter/signalfxexporter
	./exporter/skywalkingexporter
	./exporter/splunkhecexporter
	./exporter/sumologicexporter
	./exporter/tanzuobservabilityexporter
	./exporter/tencentcloudlogserviceexporter
	./exporter/zipkinexporter
	./extension/asapauthextension
	./extension/awsproxy
	./extension/basicauthextension
	./extension/bearertokenauthextension
	./extension/headerssetterextension
	./extension/healthcheckextension
	./extension/httpforwarder
	./extension/jaegerremotesampling
	./extension/oauth2clientauthextension
	./extension/observer
	./extension/observer/dockerobserver
	./extension/observer/ecsobserver
	./extension/observer/ecstaskobserver
	./extension/observer/hostobserver
	./extension/observer/k8sobserver
	./extension/oidcauthextension
	./extension/pprofextension
	./extension/sigv4authextension
	./extension/storage
	./internal/aws/awsutil
	./internal/aws/containerinsight
	./internal/aws/cwlogs
	./internal/aws/ecsutil
	./internal/aws/k8s
	./internal/aws/metrics
	./internal/aws/proxy
	./internal/aws/xray
	./internal/aws/xray/testdata/sampleapp
	./internal/aws/xray/testdata/sampleserver
	./internal/common
	./internal/coreinternal
	./internal/docker
	./internal/filter
	./internal/k8sconfig
	./internal/kubelet
	./internal/metadataproviders
	./internal/sharedcomponent
	./internal/splunk
	./internal/tools
	./pkg/batchperresourceattr
	./pkg/batchpersignal
	./pkg/experimentalmetricmetadata
	./pkg/ottl
	./pkg/pdatatest
	./pkg/pdatautil
	./pkg/resourcetotelemetry
	./pkg/stanza
	./pkg/translator/jaeger
	./pkg/translator/loki
	./pkg/translator/opencensus
	./pkg/translator/prometheus
	./pkg/translator/prometheusremotewrite
	./pkg/translator/signalfx
	./pkg/translator/zipkin
	./pkg/winperfcounters
	./processor/attributesprocessor
	./processor/cumulativetodeltaprocessor
	./processor/datadogprocessor
	./processor/deltatorateprocessor
	./processor/filterprocessor
	./processor/groupbyattrsprocessor
	./processor/groupbytraceprocessor
	./processor/k8sattributesprocessor
	./processor/logstransformprocessor
	./processor/metricsgenerationprocessor
	./processor/metricstransformprocessor
	./processor/probabilisticsamplerprocessor
	./processor/redactionprocessor
	./processor/resourcedetectionprocessor
	./processor/resourceprocessor
	./processor/routingprocessor
	./processor/schemaprocessor
	./processor/servicegraphprocessor
	./processor/spanmetricsprocessor
	./processor/spanprocessor
	./processor/tailsamplingprocessor
	./processor/transformprocessor
	./receiver/activedirectorydsreceiver
	./receiver/aerospikereceiver
	./receiver/apachereceiver
	./receiver/awscloudwatchreceiver
	./receiver/awscontainerinsightreceiver
	./receiver/awsecscontainermetricsreceiver
	./receiver/awsfirehosereceiver
	./receiver/awsxrayreceiver
	./receiver/azureblobreceiver
	./receiver/azureeventhubreceiver
	./receiver/azuremonitorreceiver
	./receiver/bigipreceiver
	./receiver/carbonreceiver
	./receiver/chronyreceiver
	./receiver/cloudflarereceiver
	./receiver/cloudfoundryreceiver
	./receiver/collectdreceiver
	./receiver/couchdbreceiver
	./receiver/datadogreceiver
	./receiver/dockerstatsreceiver
	./receiver/elasticsearchreceiver
	./receiver/expvarreceiver
	./receiver/filelogreceiver
	./receiver/filereceiver
	./receiver/filestatsreceiver
	./receiver/flinkmetricsreceiver
	./receiver/fluentforwardreceiver
	./receiver/googlecloudpubsubreceiver
	./receiver/googlecloudspannerreceiver
	./receiver/haproxyreceiver
	./receiver/hostmetricsreceiver
	./receiver/httpcheckreceiver
	./receiver/iisreceiver
	./receiver/influxdbreceiver
	./receiver/jaegerreceiver
	./receiver/jmxreceiver
	./receiver/journaldreceiver
	./receiver/k8sclusterreceiver
	./receiver/k8seventsreceiver
	./receiver/k8sobjectsreceiver
	./receiver/kafkametricsreceiver
	./receiver/kafkareceiver
	./receiver/kubeletstatsreceiver
	./receiver/lokireceiver
	./receiver/memcachedreceiver
	./receiver/mongodbatlasreceiver
	./receiver/mongodbreceiver
	./receiver/mysqlreceiver
	./receiver/nginxreceiver
	./receiver/nsxtreceiver
	./receiver/opencensusreceiver
	./receiver/oracledbreceiver
	./receiver/otlpjsonfilereceiver
	./receiver/podmanreceiver
	./receiver/postgresqlreceiver
	./receiver/prometheusexecreceiver
	./receiver/prometheusreceiver
	./receiver/pulsarreceiver
	./receiver/purefareceiver
	./receiver/purefbreceiver
	./receiver/rabbitmqreceiver
	./receiver/receivercreator
	./receiver/redisreceiver
	./receiver/riakreceiver
	./receiver/saphanareceiver
	./receiver/sapmreceiver
	./receiver/signalfxreceiver
	./receiver/simpleprometheusreceiver
	./receiver/simpleprometheusreceiver/examples/federation/prom-counter
	./receiver/skywalkingreceiver
	./receiver/snmpreceiver
	./receiver/snowflakereceiver
	./receiver/solacereceiver
	./receiver/splunkhecreceiver
	./receiver/sqlqueryreceiver
	./receiver/sqlserverreceiver
	./receiver/sshcheckreceiver
	./receiver/statsdreceiver
	./receiver/syslogreceiver
	./receiver/tcplogreceiver
	./receiver/udplogreceiver
	./receiver/vcenterreceiver
	./receiver/wavefrontreceiver
	./receiver/webhookeventreceiver
	./receiver/windowseventlogreceiver
	./receiver/windowsperfcountersreceiver
	./receiver/zipkinreceiver
	./receiver/zookeeperreceiver
	./testbed
	./testbed/mockdatareceivers/mockawsxrayreceiver
	./testbed/mockdatasenders/mockdatadogagentexporter
)
