/* otel-collector */ SELECT
ACCESS_PREDICATES,
BYTES,
CARDINALITY,
RAWTOHEX(CHILD_ADDRESS) AS CHILD_ADDRESS,
COST,
CPU_COST,
DEPTH,
FILTER_PREDICATES,
ID,
IO_COST,
OBJECT_NAME,
OBJECT_TYPE,
OPERATION,
OPTIONS,
PARENT_ID,
PARTITION_START,
PARTITION_STOP,
POSITION,
PROJECTION
FROM V$SQL_PLAN
WHERE CHILD_ADDRESS IN (%s)