/* otel-collector */ SELECT
RAWTOHEX(CHILD_ADDRESS) AS CHILD_ADDRESS,
ACCESS_PREDICATES,
COST,
IO_COST,
CARDINALITY,
DEPTH,
BYTES,
PARENT_ID,
CPU_COST,
ID,
POSITION,
PROJECTION,
OPERATION
FROM V$SQL_PLAN
WHERE CHILD_ADDRESS IN (%s)