/* otel-collector */ SELECT
S.ACTION,
S.MACHINE,
S.USERNAME,
S.SCHEMANAME,
S.SQL_ID,
S.SQL_CHILD_NUMBER,
RAWTOHEX(Q.CHILD_ADDRESS) AS CHILD_ADDRESS,
S.SID,
S.SERIAL#,
Q.SQL_FULLTEXT,
S.OSUSER,
S.PROCESS,
S.PORT,
S.PROGRAM,
S.MODULE,
S.STATUS,
S.STATE,
S.SERVICE_NAME,
Q.PLAN_HASH_VALUE,
P.OBJECT_ID AS PROCEDURE_ID,
NVL((SYSDATE - SQL_EXEC_START) * 86400,0) AS DURATION_SEC,
CASE WHEN S.TIME_REMAINING_MICRO IS NOT NULL
      THEN S.WAIT_CLASS END AS WAIT_CLASS,
CASE WHEN S.TIME_REMAINING_MICRO IS NOT NULL
      THEN S.EVENT END AS EVENT,
CASE WHEN S.PLSQL_ENTRY_OBJECT_ID IS NOT NULL
      THEN P.OWNER || '.' || P.OBJECT_NAME 
      END AS PROCEDURE_NAME, P.OBJECT_TYPE AS PROCEDURE_TYPE
FROM V$SESSION S 
  LEFT JOIN (
    SELECT OWNER, OBJECT_ID, OBJECT_NAME, OBJECT_TYPE
    FROM   DBA_PROCEDURES
    WHERE  PROCEDURE_NAME IS NULL  
  ) P
    ON P.OBJECT_ID = S.PLSQL_ENTRY_OBJECT_ID
JOIN V$SQL Q 
        ON S.SQL_ID = Q.SQL_ID 
        AND S.SQL_CHILD_NUMBER = Q.CHILD_NUMBER
      WHERE S.SQL_ID IS NOT NULL AND S.STATUS = 'ACTIVE'
FETCH FIRST :1 ROWS ONLY
