/* otel-collector */ SELECT
  P.OWNER                                 AS SCHEMA_NAME,
  P.OWNER || '.' || P.OBJECT_NAME         AS PROCEDURE_NAME,
  P.OBJECT_TYPE                           AS PROCEDURE_TYPE,
  S.PROGRAM_ID                            AS PROGRAM_ID,
  NVL(C.NAME, '')                         AS DB_NAMESPACE,
  S.SERVICE                               AS SERVICE,
  NVL(MIN(S.EXECUTIONS), 0)               AS EXECUTIONS,
  NVL(SUM(S.CPU_TIME), 0)                 AS CPU_TIME,
  NVL(SUM(S.ELAPSED_TIME), 0)             AS ELAPSED_TIME,
  NVL(SUM(S.BUFFER_GETS), 0)              AS BUFFER_GETS,
  NVL(SUM(S.DISK_READS), 0)               AS DISK_READS,
  NVL(SUM(S.DIRECT_WRITES), 0)            AS DIRECT_WRITES,
  NVL(SUM(S.ROWS_PROCESSED), 0)           AS ROWS_PROCESSED,
  NVL(SUM(S.PHYSICAL_READ_BYTES), 0)      AS PHYSICAL_READ_BYTES,
  NVL(SUM(S.PHYSICAL_WRITE_BYTES), 0)     AS PHYSICAL_WRITE_BYTES,
  MIN(S.FIRST_LOAD_TIME)                  AS FIRST_LOAD_TIME,
  TO_CHAR(SYS_EXTRACT_UTC(FROM_TZ(CAST(MAX(S.LAST_ACTIVE_TIME) AS TIMESTAMP), DBTIMEZONE)), 'YYYY-MM-DD"T"HH24:MI:SS"Z"') AS LAST_ACTIVE_TIME
FROM
  V$SQL S
  JOIN (
    SELECT OWNER, OBJECT_ID, OBJECT_NAME, OBJECT_TYPE
    FROM   DBA_PROCEDURES
    WHERE  PROCEDURE_NAME IS NULL
  ) P
    ON P.OBJECT_ID = S.PROGRAM_ID
  LEFT JOIN V$CONTAINERS C
    ON C.CON_ID = S.CON_ID
WHERE S.PROGRAM_ID > 0
  AND S.LAST_ACTIVE_TIME >= SYSDATE - NUMTODSINTERVAL(:1, 'SECOND')
GROUP BY P.OWNER, P.OBJECT_NAME, P.OBJECT_TYPE, S.PROGRAM_ID, C.NAME, S.SERVICE
FETCH FIRST :2 ROWS ONLY
