/* otel-collector */ SELECT
    S.SID,
    S.SERIAL#,
    SE.EVENT,
    SE.WAIT_CLASS,
    NVL(SE.TOTAL_WAITS, 0) AS TOTAL_WAITS,
    NVL(SE.TIME_WAITED, 0) / 100 AS TOTAL_TIME_WAITED_SECS
FROM V$SESSION_EVENT SE
JOIN V$SESSION S ON SE.SID = S.SID
WHERE SE.WAIT_CLASS <> 'Idle'
FETCH FIRST :1 ROWS ONLY
