/* otel-collector */ SELECT
ACCESS_PREDICATES,
BYTES,
CARDINALITY,
RAWTOHEX(CHILD_ADDRESS) AS CHILD_ADDRESS,
COST,
CPU_COST,
DEPTH,
FILTER_PREDICATES,
ID,
IO_COST,
LAST_CR_BUFFER_GETS,
LAST_CU_BUFFER_GETS,
LAST_ELAPSED_TIME,
LAST_OUTPUT_ROWS,
LAST_STARTS,
OBJECT_NAME,
OBJECT_TYPE,
OPERATION,
OPTIONS,
OUTPUT_ROWS,
PARENT_ID,
PARTITION_START,
PARTITION_STOP,
POSITION,
PROJECTION,
STARTS
FROM V$SQL_PLAN_STATISTICS_ALL
WHERE CHILD_ADDRESS IN (%s)