/* otel-collector */ SELECT
  S.SQL_ID,
  S.SQL_FULLTEXT,
  S.CHILD_NUMBER,
  RAWTOHEX(S.CHILD_ADDRESS)               AS CHILD_ADDRESS,
  S.EXECUTIONS,
  S.ELAPSED_TIME,
  S.CPU_TIME,
  S.APPLICATION_WAIT_TIME,
  S.CONCURRENCY_WAIT_TIME,
  S.USER_IO_WAIT_TIME,
  S.CLUSTER_WAIT_TIME,
  S.ROWS_PROCESSED,
  S.BUFFER_GETS,
  S.PHYSICAL_WRITE_REQUESTS,
  S.PHYSICAL_READ_REQUESTS,
  S.PHYSICAL_WRITE_BYTES,
  S.PHYSICAL_READ_BYTES,
  S.DISK_READS,
  S.DIRECT_WRITES,
  S.DIRECT_READS,
  S.PROGRAM_ID,
  P.OBJECT_TYPE AS PROCEDURE_TYPE,
  P.OWNER || '.' || P.OBJECT_NAME AS PROCEDURE_NAME
FROM
  V$SQL S
  LEFT JOIN (
    SELECT OWNER, OBJECT_ID, OBJECT_NAME, OBJECT_TYPE
    FROM   DBA_PROCEDURES
    WHERE  PROCEDURE_NAME IS NULL  
  ) P
    ON P.OBJECT_ID = S.PROGRAM_ID
WHERE LAST_ACTIVE_TIME >= SYSDATE - NUMTODSINTERVAL(:1, 'SECOND')
FETCH FIRST :2 ROWS ONLY
