/* otel-collector */ SELECT
SQL_ID,
SQL_FULLTEXT,
CHILD_NUMBER,
RAWTOHEX(CHILD_ADDRESS) AS CHILD_ADDRESS,
EXECUTIONS,
ELAPSED_TIME,
CPU_TIME,
APPLICATION_WAIT_TIME,
CONCURRENCY_WAIT_TIME,
USER_IO_WAIT_TIME,
CLUSTER_WAIT_TIME,
ROWS_PROCESSED,
BUFFER_GETS,
PHYSICAL_WRITE_REQUESTS,
PHYSICAL_READ_REQUESTS,
PHYSICAL_WRITE_BYTES,
PHYSICAL_READ_BYTES,
DISK_READS,
DIRECT_WRITES,
DIRECT_READS
FROM V$SQL
WHERE LAST_ACTIVE_TIME >= TO_DATE(:1, 'yyyy-mm-dd hh24:mi:ss') - NUMTODSINTERVAL(:2, 'SECOND')
FETCH FIRST :3 ROWS ONLY