[Unit]
Description=OpenTelemetry Contrib Collector
After=network.target

[Service]
ExecStart=/usr/bin/otelcontribcol $OTELCOL_OPTIONS
EnvironmentFile=/etc/otel-contrib-collector/otel-contrib-collector.conf
KillMode=mixed
Restart=on-failure
Type=simple
User=otel
Group=otel

[Install]
WantedBy=multi-user.target