apiVersion: batch/v1
kind: Job
metadata:
  name: saw-7500-loadgen
  namespace: saw-7500
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        app: saw-7500-loadgen
    spec:
      restartPolicy: Never
      containers:
        - name: telemetrygen
          image: __TELEMETRYGEN_IMAGE__
          imagePullPolicy: IfNotPresent
          args:
            - logs
            - --duration
            - __LOAD_DURATION__
            - --rate
            - "__LOAD_RATE__"
            - --workers
            - "__LOAD_WORKERS__"
            - --otlp-endpoint
            - saw-7500-lb.saw-7500.svc.cluster.local:4317
            - --otlp-insecure
            - --batch
            - --batch-size
            - "__BATCH_SIZE__"
            - --allow-export-failures
            - --service
            - bigid-local-saw-7500
            - --telemetry-attributes
            - tenant="bigid"
            - --body
            - __LOG_BODY__
            - --size
            - "__LOAD_SIZE_MB__"
