default:
all_metrics:
  {{- range $name, $_ := .Metrics }}
  {{ $name }}:
    enabled: true
  {{- end }}
no_metrics:
  {{- range $name, $_ := .Metrics }}
  {{ $name }}:
    enabled: false
  {{- end }}
